body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(245,204,160,1) 2%, rgba(230,16,16,1) 100%);
  align-items: center;
  
}
.mainbody{
  width: 80%;
  max-width: 900px;
  text-align:center ;
  margin: auto auto;
}
.heading{
  margin-top: 1rem;
  font-size: 2rem;
}
span{
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-style: bold;
}
.start-button,
.stop-button,
.reset-button{
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 100px;
  font-family: time;
  font-size: 2rem;
  padding: 0.5rem 0.9rem;
  cursor: pointer;

}
.text{
  font-size: 2 rem;
  text-decoration: line-through;
}
@media (min-width:675px){
  .mainbody{
    width:70%
  }
}
